<html>
	<head>
		<meta charset = "utf-8">
		<title>Register a new account</title>
	</head>

	<body>
		<h1>Provide details below</h1>
		<form method = "POST" action = "/new_user_success">
			<input type = "text" name = "account_username" placeholder = "Название учетной записи" />
			</br></br>
			<input type = "password" name = "account_password_0" placeholder = "Пароль" />
			</br></br>
			<input type = "password" name = "account_password_1" placeholder = "Повторите пароль" />
			</br></br>
			<input type = "text" name = "account_name" placeholder = "Ваше имя" />
			</br></br>
			<input type = "text" name = "account_lastname" placeholder = "Ваша фамилия "/>
			</br></br>
			<input type = "submit" />
			{% csrf_token %}
		</form>
	</body>
</html>